
/* Codigo para los select */

.ui-autocomplete
{
  position:absolute;
  cursor:default;
  z-index:1500 !important
}

/* =============================================== */


/*******************
Login register and recover password Page
******************/
.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 6% 0;
  position: fixed; }

.login-box {
  width: 400px;
  margin: 0 auto; 
}
.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px; 
}

.login-box .image-box img{
  max-width: 35%;
  max-height: 20%;
}

/* =========================================================================== */

/* SELECT 2 custom styles */


.select2-container--default .select2-selection--single {
  border-color: #e9ecef;
  height: 38px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  color: #fff;
  margin-right: 0px;
  margin-left: 4px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #fb9678;
  color: #fff;
  border-color: #fb9678; }

/* =========================================================================== */



/***********************************************************
ESTILOS A LAS ETIQUETAS SPAN PARA LOS CAMPOS REQUERIDOS
************************************************************/
.field-required-span{
  font-size: 20px;
  color: #e46a76;
}
/* =========================================================================== */



/***********************************************************
ESTILOS PARA LAS VALIDACIONES DE LOS FORMULARIOS
************************************************************/
form .error {
  color: #e46a76;
  padding-top: 10px;
  margin-bottom: 0px !important;
}
/* =========================================================================== */


/***********************************************************
ESTILOS PARA LISTAS DE CHECKBOX O RADIOINPUTS
************************************************************/
.icheck-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.icheck-list {
  /* float: left; */
  padding-right: 50px;
  padding-top: 10px; }

.icheck-list li {
  padding-bottom: 5px; }

.icheck-list li label {
  padding-left: 10px; }
/* =========================================================================== */



/***********************************************************
  ESTILOS PARA JQUERY DATEPICKER
************************************************************/
.ui-datepicker{ 
  z-index: 9999 !important;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
}
.datepicker table tr td,
.datepicker table tr th {
  text-align: center;
  width: 30px; 
  height: 30px;
  border-radius: 4px; 
  border: none;
  color: #000; 
  cursor: pointer !important; 
}
datepicker table tr td.day:hover,
  .datepicker table tr td.focused {
  background: red;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999;
}
.datepicker table tr td.today {
  color: white !important;
  background-color: #FFA953; 
  border-color: #FFB76F;  
}
.datepicker table tr td.today:hover {
  color: #FFFFFF;
  background-color: #FF8273;
  border-color: #f59e00;
  cursor: pointer !important; 
}
.datepicker .datepicker-switch {
  width: 145px;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  background: #f8f8f8;
} 
.ui-datepicker {
  width: 15.20em !important;
  font-family: 'Jaldi', sans-serif !important;
  border: 1px solid #ccc !important;
}
.ui-datepicker-header {
  border-radius: 0px !important;
  background-color: #ededed !important;
  background: #ededed !important;
  border: none !important;
}
.ui-datepicker-next {
  color: #000 !important;
  top:3px !important;
  right: 3px !important;
}
.ui-datepicker-prev {
  color: #000 !important;
  top:3px !important;
  left: 3px !important;
}
.ui-datepicker-next:hover {
  border: none !important;
  top:3px !important;
  right: 3px !important;
  background: white !important;
  cursor: pointer;
}
.ui-datepicker-prev:hover {
  border: none !important;
  top:3px !important;
  left: 3px !important;
  background: white !important;
  cursor: pointer;
}
.ui-state-default {
  background: none !important;
  background-color: #ededed;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  background: none !important;
  background-color: #1000ff !important;
  border: 2px solid #1000ff !important;
  border-radius: 10% !important;
  color: #fff !important;
}
.ui-state-active, .ui-widget-content .ui-state-active {
  color: #454545 !important;
  font-weight: bold !important;
  background-color: #f6f6f6 !important;
  border: 2px solid #1000ff !important;
  border-radius: 10% !important;
}
#date-picker-expirate .ui-datepicker-calendar {
  display: none;
}
.ui-widget select {
  font-family: 'Jaldi', sans-serif !important;
  font-size: 14px !important;
}
.ui-priority-primary, .ui-widget-content {
  font-weight: normal !important;
}
.ui-datepicker-close {
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
  font-size: 14px !important;
}
.hide-calendar .ui-datepicker-calendar {
  display: none;
}

.ui-datepicker-current {
  display: none !important;
}
.ui-datepicker-buttonpane {
  float: left !important; 
  padding: 0 !important;
}
/* =========================================================================== */

/***********************************************************
  ESTILOS PARA LAS TABLAS DE BOOSTRAP
************************************************************/
/* .table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 1px !important;
} */


/***********************************************************
  ESTILOS PARA JQUERY DATATABLES
************************************************************/
table.dataTable {
	border-collapse: collapse !important;
	border-spacing: 0;
}

table.dataTable tbody tr.dtrg-group{
  cursor: pointer;
  background-color:#4F5467 !important;
}

table.dataTable tbody tr.dtrg-group:hover {
  cursor: pointer;
  background-color: #4F5467 !important;
}

table.dataTable tbody tr.collapsed{
  background-color: #4F5467 !important;
}

table.dataTable tbody tr.collapsed:hover{
  background-color: #4F5467 !important;
}

table.dataTable tbody tr.dtrg-group td{
  padding: 0.5rem;
  vertical-align: inherit;
  color: white;
  font-weight: 600;
}


table.infoTable {
  border: 2px solid gray;
}
/* =========================================================================== */

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  /* font-size: 24px; */
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/* =========================================================================== */
/* Estilos para dar altura a los renglones de una tabla */
.headt td {
  height:60px;
}

/* Estilos para quitar el padding de un datatable */
div.datatable-wide {
  padding-left: 0;
  padding-right: 0;
}



/***********************************************************
  ESTILOS PARA LAS TABLAS CON COLUMNAS VERTICALES
************************************************************/
.table-vertical-custom {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  /* max-width: 1080px; */
}

table.table-vertical-custom thead th {
  font-weight: 500;
  text-align: center;
  vertical-align: middle; /* centrado vertical*/
  height: 200px;
}
table.table-vertical-custom thead.thead-light-custom th {
  color: #4F5467;
  background-color: #e9ecef;
  border-color: #dee0e2;
}
table.table-vertical-custom td,
table.table-vertical-custom th {
  border: 1px solid #e9ecef;
  padding: 0.5em !important;
  vertical-align: top;
  background: #f9f9f9;
}

table.table-vertical-custom td{
  background: #ffffff;
  padding: 0.9em !important;
}


/* lets just give the rotation to browsers that understand it otherwise they may also get transformed but not rotated. Now older browsers just get a normal table*/
@supports (writing-mode: vertical-lr) {
  table.table-vertical-custom thead .subhead span {
      display: inline-block;
      writing-mode: vertical-rl;
      white-space: normal;
      transform: rotate(180deg);
  }
}

/* =========================================================================== */

/* estilos para botones custom */

.btn-lavender {
  color: #ffffff;
  background-color: #AC92EA;
  border-color: #AC92EA; 
}

.btn-lavender:hover {
  color: #ffffff;
  background-color: #9579DA;
  border-color: #9579DA; 
}

.btn-lavender:focus, .btn-lavender.focus {
  box-shadow: 0 0 0 0.2rem rgba(114, 96, 158, 0.5);  
}

.btn-lavender.disabled, .btn-lavender:disabled {
  color: #fff;
  background-color: #AC92EA;
  border-color: #AC92EA;
}

.btn-lavender:not(:disabled):not(.disabled):active, .btn-lavender:not(:disabled):not(.disabled).active,
.show > .btn-lavender.dropdown-toggle {
  color: #fff;
  background-color: #9579DA;
  border-color: #9579DA; 
}

.btn-lavender:not(:disabled):not(.disabled):active:focus, .btn-lavender:not(:disabled):not(.disabled).active:focus,
.show > .btn-lavender.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(114, 96, 158, 0.5); 
}



.btn-sunflower {
  color: #ffffff;
  background-color: #FDCD56;
  border-color: #FDCD56; 
}

.btn-sunflower:hover {
  color: #ffffff;
  background-color: #F5B945;
  border-color: #F5B945; 
}

.btn-sunflower:focus, .btn-sunflower.focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 185, 69, 0.5);  
}

.btn-sunflower.disabled, .btn-sunflower:disabled {
  color: #fff;
  background-color: #FDCD56;
  border-color: #FDCD56;
}

.btn-sunflower:not(:disabled):not(.disabled):active, .btn-sunflower:not(:disabled):not(.disabled).active,
.show > .btn-sunflower.dropdown-toggle {
  color: #fff;
  background-color: #F5B945;
  border-color: #F5B945; 
}

.btn-sunflower:not(:disabled):not(.disabled):active:focus, .btn-sunflower:not(:disabled):not(.disabled).active:focus,
.show > .btn-sunflower.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 185, 69, 0.5); 
}


/* Grid cards */
.grid-cards {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 1rem;
}

.flex-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.fz-1-5 {
  font-size: 1.5rem;
}

.w-35 {
  width: 35%!important;
}

/* Estilos Filtros */
.gap-1 {
  gap: 10px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-flex-end {
  align-items: flex-end;
}